<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>land verification</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/colors.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- owl -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body>

    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand-sm" style="background-color: black;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static',filename='images/logo.png')}}" alt="logo detail">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/addlandproperty">ADD LAND PROPERTY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reqquestfrombuyer">REQUEST FROM BUYER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mysellland">MY SELL LAND</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LOGOUT</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>


    <!-- CONTACT -->
    <section id="contact" class="contact">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-desc">
                        <h1 class="mb-5">ADD LAND</h1>

                    </div>
                    <div class="contact-form">
                        <form action="/addlandproperty" method="POST" enctype="multipart/form-data">



                            <div class="text-field">
                                <input type="text" name="name"  class="form-control drop"  required>
                                <label>Seller Name</label>
                            </div>


                            <div class="text-field">
                                <input type="email" name="Email" class="form-control drop" required>
                                <label>Email Address</label>
                            </div>

                            <div class="text-field">
                                <input type="tel" name="Phone" class="form-control drop" required>
                                <label>Phone Number</label>
                            </div>

                            <div class="text-field">
                                <input type="tel" name="adharcard" class="form-control drop" required>
                                <label>adharcard number</label>
                            </div>

                            <div class="text-field">
                                <input type="tel" name="servey"  class="form-control drop" required>
                                <label>City servey No</label>
                            </div>
                            <div class="text-field">
                                <input type="tel" name="WARD" class="form-control drop" required>
                                <label>WARD No</label>
                            </div>
                            <div class="text-field">
                                <input type="tel" name="Plot" class="form-control drop" required>
                                <label>Final Plot No</label>
                            </div>
                            <div class="text-field">
                                <input type="text" name="location" class="form-control drop" required>
                                <label>Map pin location</label>
                            </div>
                          


                          

                            <div class="mb-3">
                                <label>Upload land image</label>
                                <input type="file" placeholder="Upload Land Image" id="file" name="file"
                                    style="width: 508px;" />

                            </div>

                            <div class="mb-3">
                                <label>Upload land Documents</label>
                                <input type="file" placeholder="Upload Land Documents" id="file1" name="file1"
                                    style="width: 508px;" />

                            </div>

                            <div class="mb-3">
                                <select style="font-size:20px;width: 500px;" class="form-control drop" id="state"
                                    name="state" style="width: 508px;">
                                    <option>Select State</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Puducherry">Puducherry</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                </select>

                            </div>

                            <div class="mb-3">

                                <select style="font-size:20px;width: 500px;" class="form-control drop" id="city"
                                    name="city" style="width: 508px;">
                                    <option>Select city</option>
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Bangalore">Bangalore</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Ahmedabad">Ahmedabad</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Kolkata">Kolkata</option>
                                    <option value="Surat">Surat</option>
                                    <option value="Pune">Pune</option>
                                    <option value="Jaipur">Jaipur</option>
                                    <option value="Lucknow">Lucknow</option>
                                    <option value="Kanpur">Kanpur</option>
                                    <option value="Indore">Indore</option>
                                    <option value="Thane">Thane</option>

                                </select>

                            </div>


                            <div class="text-field">
                                <input type="text" name="area" class="form-control drop" required>
                                <label>area</label>
                            </div>
                            <div class="text-field">
                                <input type="text" name="Landprice" class="form-control drop"  required>
                                <label>Landprice</label>
                            </div>
                            
                            <div class="mb-3">
                                <button class="btn btn-primary" type="submit">ADD LAND</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
   
    <footer class="footer footer2">
        <div class="container pt-3 pb-2">
            <div class="row">
                <div class="col-md-8 foot-bottom-text">
                    <p>Privacy Policy / LANDVERIFICATION /  © 2022 
                        / All Rights Reserved</p>
                </div>
                <div class="col-md-4 social-links content-right">
                    <a href="#" class="fb">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="tw">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="ig">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <!-- owl js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- fancybox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <!-- custom js -->
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
</body>

</html>