<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login Form Validation using Javascript</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/styles1.css')}}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<div class="logo">
				<p>Admin login</p>
			</div>
			<div class="menu">
				<ul>
					<li class="active"><a>Login</a></li>
					<li><a>Aboutus</a></li>
				</ul>
			</div>
		</div>
		<div class="main_container">
			<div class="main_item login_wrap" style="display: block;">
				<div class="title">Nice to see you again!!</div>
				<div class="form">
					<form method="POST" action="/adminlogin1" onsubmit="return validate(event);">
						<div class="form_wrap">
							<label for="uname">Username</label>
							<div class="input_field">
								<input type="text" class="input" name="username" id="uname">
								<i class="fas fa-user"></i>
							</div>
							<div class="error_msg" id="un_err_msg"></div>
						</div>
						<div class="form_wrap">
							<label for="password">Password</label>
							<div class="input_field">
								<input type="password" class="input" name="password" id="password">
								<i class="fas fa-key"></i>
							</div>
							<div class="error_msg" id="pw_err_msg"></div>
						</div>
						<div class="form_wrap">
							<input type="submit" value="Login">
						</div>
					</form>
				</div>
			</div>



			<div class="main_item aboutus" style="display: none;">
				<div class="title">Aboutus</div>
				<div class="content">
					<p>The City Survey of Mumbai Suburban District has been carried out during the period 1963-67. The
						City Survey Record is prepared for all the villages in Mumbai Suburban District. The City Survey
						record for each individual parcel of land has been created and given a particular number which
						is known as City Survey number. A property card for each City Survey number is also prepared.
					</p>
					<p>The names of the Holders are only incorporated if the property is non-agricultural. If the
						property is agricultural, only tenure is mentioned as agricultural in P.R.C. When the property
						is converted to N.A. the holder name can be incorporated in the P.R. card after producing
						necessary documents by the Applicant (Property Holder), N.A. measurement of Plot and following
						due procedure for the same.The maps of City Survey are prepared in 1:500 scale.</p>
					<p>Proposals pertaining to boundary correction, area correction etc., are being submitted to the
						Collector with his due advisory remarks. Also he issue certified copies of property card – Area
						in words as per the applicant’s application by verification of the original records. Also he
						directs the City Survey Officers to issue copies of original records such as inquiry register,
						original sheets, on the application of the applicant.</p>
				</div>


			</div>
		</div>
	</div>

	<script src="{{url_for('static',filename='js/scripts1.js')}}"></script>

</body>

</html>